<div class="row">    
    <div class="col-xs-8 col-xs-offset-2">
		<div class="input-group">
            <input type="text" class="form-control search-input"  placeholder="Search term...">
            <span class="input-group-btn">
            <button class="btn btn-default search-btn" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
</div>