<div class="col-sm-3">
  <div class="nav-side-menu">
    <div class="brand"><img class="img-responsives" src="img/logo/logo.png" ></img></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

      <ul id="menu-content" class="menu-content collapse out">
        <li>
<<<<<<< HEAD
          <a href="#">
=======
          <a href="{{ path('admin_homepage') }}">
>>>>>>> origin
            <i class="fa fa-home fa-lg"></i> home
          </a>
        </li>

<<<<<<< HEAD
        <li  data-toggle="collapse" data-target="#employee" class="collapsed active">
          <a href="#"><i class="fa fa-users fa-lg"></i> Employee<span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="employee">
          <li class="active"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i>add
          </a></li>
          <li><a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i>
           delete</a></li>
           <li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i>
             edit </a></li>

=======
        <li  class="collapsed active">
          <a href="{{ path('admin_utilisateurs',{ 'page':1}) }}"><i class="fa fa-users fa-lg"></i> Employee</a><span data-toggle="collapse" data-target="#employee" class="arrow"></span>
        </li>
        <ul class="sub-menu collapse" id="employee">
          <li class="active"><a href="{{ path('admin_utilisateurs_add') }}"><i class="fa fa-plus" aria-hidden="true"></i>add
          </a></li>
>>>>>>> origin
           </ul>


           <li data-toggle="collapse" data-target="#product" class="collapsed">
            <a href="#"><i class="fa fa-cutlery" aria-hidden="true"></i> Product
             <span class="arrow"></span></a>
           </li>  
           <ul class="sub-menu collapse" id="product">
            <li class="active"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i>add
            </a></li>
            <li><a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i>
             delete</a></li>
             <li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i>
               edit </a></li>
             </ul>


             <li data-toggle="collapse" data-target="#vehicule" class="collapsed">
              <a href="#"><i class="fa fa-car fa-lg"></i> Vehicule <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="vehicule">
              <li class="active"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i>add
              </a></li>
              <li><a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i>
               delete</a></li>
               <li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i>
                 edit </a></li>
               </ul>

                   <li data-toggle="collapse" data-target="#relay" class="collapsed">
                    <a href="#"><i class="fa fa-inbox fa-lg" aria-hidden="true"></i>
                     Relay
                     <span class="arrow"></span></a>
                   </li>  
                   <ul class="sub-menu collapse" id="relay">
                    <li class="active"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i>add
                    </a></li>
                    <li><a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i>
                     delete</a></li>
                     <li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i>
                       edit </a></li>
                     </ul>
                      <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="#"><i class="fa fa-newspaper-o fa-lg" aria-hidden="true"></i> News
                     <span class="arrow"></span></a>
                   </li>  
                   <ul class="sub-menu collapse" id="new">
                    <li class="active"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i>add
                    </a></li>
                    <li><a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i>
                     delete</a></li>
                     <li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i>
                       edit </a></li>
                     </ul>

          <ul class="sub-menu collapse" id="relay">
                    <li class="active"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i>add
                    </a></li>
                    <li><a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i>
                     delete</a></li>
                     <li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i>
                       edit </a></li>
                     </ul>

                  <li data-toggle="collapse" data-target="#Parameters" class="collapsed">
                    <a href="#"><i class="fa fa-cogs fa-lg" aria-hidden="true"></i>
</i> Parameters
                     <span class="arrow"></span></a>
                   </li>  
                   <ul class="sub-menu collapse" id="Parameters">
                <li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i>
                       edit </a></li>
                     </ul>


                     <li>
                      <a href="#">
                        <i class="fa fa-user fa-lg"></i> Profile
                      </a>
                    </li>
<<<<<<< HEAD
=======
                    <li>
                                    <a href="{{ path('page_moncompte_deconnection') }}"><i class="fa fa-user-times fa-lg" aria-hidden="true"></i>
disconnect</a>
                          
                    </li>
>>>>>>> origin
                  </ul>
                </div>
              </div>
            </div>
