{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('css/sidebar.css') }}"/>
{% endblock stylesheets %}
{% block body %}



{% block navabar %}
{% include 'AdminAdminBundle:Default:sidebar.html.twig' %}
{% endblock %}
<div class="col-sm-9">
<div class="row">
{% block search %}
{% include 'AdminAdminBundle:Default:search.html.twig' %}
{% endblock %}
</div>
<div class="row">
                    <h1>bienvenue dans l'outil de gestion de mealandbox</h1>

<div class="col-xs-12">

                        Vous  retrouverez sur l'ensemble du menu de gauche les actions disponible en fonction de votre role au sein de la société
</div>

</div>
{% endblock body %}
