{% extends '::base.html.twig' %}

{% block body %}

<div class="container">
<div class="row">
<div class="col-xs-12">
<div class="row">
<img src="/img/logo/logo.png" class="img-responsive">
</div>
<div class="row">
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
</div>
</div>
</div>
</div>
{% endblock body %}
