<div id="panel" class="col-xs-12">	
<ul class="nav nav-tabs">
			<li class="active">
        <a  href="#1" data-toggle="tab">Relais</a>
			</li>
			<li><a href="#2" data-toggle="tab">Horaire</a>
			</li>
			<li><a href="#3" data-toggle="tab">Conge</a>
			</li>
		</ul>

			<div class="tab-content ">
			  <div class="tab-pane active" id="1">
          {% include 'AdminAdminBundle:Relais:formaddrelais.html.twig' %}
				</div>
				<div class="tab-pane" id="2">
          {% include 'AdminAdminBundle:Relais:formaddhoraire.html.twig' %}

				</div>
        <div class="tab-pane" id="3">
          {% include 'AdminAdminBundle:Relais:formaddrelais.html.twig' %}
			</div>
  </div>
