<div id="PointCollecteLivraison" class="panel panel-default">
		<div class="panel-heading">
				<h1 class="panel-title">
					Trouver un point relais
				</h1>
		</div>
	<div class="panel-body">
	<div class="col-xs-12 col-md-6">
	<label for="adress">Adresse</label>
    <input id="adress" type="text" class="form-control" ></input> 
    	<em>Saisissez un code postal, une ville et un pays.</em>
    </div>     
	<div class='col-xs-12 col-md-3 text-center'>
	<button id="RechercheGEo" class="btn btn-green">
		Rechercher
	</button>
	</div>
	<div class="col-xs-12 col-md-3 text-center">
		<button id="RechercheGeo" class="btn btn-green">
			Utiliser ma position
		</button>
	</div>
		<div id="GeoLoc" style="display:none">
			<input class="GeoLocLatitude" id="GeoLocLatitude" name="Latitude" type="hidden" value="">
			<input class="GeoLocLongitude" id="GeoLocLongitude" name="Longitude" type="hidden" value="">
		</div>	
	</div>
</div>