<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">Le concept Meal & Box</h2>
  </div>
</div>
<div class="row concept">
  <div class="col-md-4">
    <div class="col-md-12">
      <h3>Gastronomie <br />pour tous</h3>
      <div class="description">
        <h4>La gastronomie peut être <br />accessible à tous</h4>
        <p>Meal & Box a été créé d'une réflexion simple : proposer chaque jour des produits locaux simples et raffinés, dans des recettes gastronomiques élaborées par nos partenaires locaux.</p>
        <p></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-12">
      <h3>Livraison <br />en point relais</h3>
      <div class="description">
        <h4>Bien manger, même <br />sur son lieu de travail</h4>
        <p>Parce que le repas quotidien au travail est souvent une conséquence du manque de temps, Meal & Box propose une alternative idéale : commandez le matin, retirez le midi dans l'un de nos nombreux points de relais.</p>
        <p></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-12">
      <h3>Un large choix <br />pour tous les goûts</h3>
      <div class="description plusbas">
        <h4>Parce que le bonheur <br />est une histoire de choix</h4>
        <p>Chaque personne a ses préférences, et Meal & Box l'a bien compris : retrouvez chaque jour une sélection régulièrement renouvelée de plats gastronomiques.</p>
        <p></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">Les dernières actualités</h2>
  </div>
</div>
