<div class="col-md-4" style="margin-top:15px;">
  <article>
    <img class="img-responsive" src="/img/fixtures/fixture.png" alt="">
    <h3>Nouveaux points de livraison</h3>
    <p class="DateArticle">2017/05/12 10:04:52</p>
    <p class="ContenuArticle">Nous sommes heureux de vous annoncer que de nouveaux points livraison sont pour vous possibilité livré...</p>
    <a href="/app_dev.php/actualites/37">Lire la suite</a>
  </article>
</div>
<div class="col-md-4" style="margin-top:15px;">
  <article>
    <img class="img-responsive" src="/img/fixtures/fixture.png" alt=""><h3>Nouvelle carte</h3><p class="DateArticle">2017/05/12 10:04:52</p><p class="ContenuArticle">Profitez dès à présent de nouveaux plats confectionnés par nos dans une gastronomie...</p><a href="/app_dev.php/actualites/38">Lire la suite</a>
  </article>
</div>
<div class="col-md-4" style="margin-top:15px;">
  <article>
    <img class="img-responsive" src="/img/fixtures/fixture.png" alt=""><h3>Meal &amp; Box recrute !</h3><p class="DateArticle">2017/05/12 10:04:52</p><p class="ContenuArticle">Meal &amp; Box recrute de nouveaux partenaires pour continuer à agrandir et enrichir notre vous avez profil commercial, si souhaiter créer de formulaire...</p><a href="/app_dev.php/actualites/39">Lire la suite</a>
  </article>
</div>
