<div class="row">
	<div class="banniere">
		<div class="localisation">
			<h2>Où souhaitez vous être livré(e) ?</h2><hr>
			<div class="text-center relais">
				<div class="row">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Entrez votre ville ou code postal">
						<div class="input-group-addon">
							Valider
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
