<div class="search">
	<div class="text-center relais">
		<div class="row">
			<h2 class="uppercase">où souhaitez vous être livré(e)?</h2>
		</div>
		<div class="row">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search for...">
				<span class="input-group-btn">
					<button class="btn btn-secondary" type="button"><i class="fa fa-search" aria-hidden="true"></i>
					</button>
				</span>
			</div>
		</div>
	</div>
</div>