<div class="search">
	<div class="text-center relais">
		<div class="row">
			<h2 class="uppercase">où souhaitez vous être livré(e)?</h2>
		</div>
		<div class="row">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search for...">
				<div class="input-group-addon">
					<i class="fa fa-search" aria-hidden="true"></i>
 					
				</div>
			</div>
		</div>
	</div>
</div>