<div class="row">
	<div class="banniere">
		<div class="localisation">
			<h2>Où souhaitez vous être livré(e) ?</h2><hr>
			<div class="text-center relais">
				<div class="row">
					{{ form_start(form) }}
					<div class="input-group">
						{{ form_widget(form.address) }}
						<div class="input-group-addon">
						{{ form_widget(form.save) }}
						</div>
					{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
