{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('css/sidebar.css') }}"/>
{% endblock stylesheets %}
{% block body %}



{% block navabar %}
{% include 'AdminAdminBundle:Default:sidebar.html.twig' %}
{% endblock %}
<div class="col-sm-9">
{% include 'AdminAdminBundle:Categorie:tablecategorie.html.twig' %}
</div>
{% endblock body %}
