  <div class="col-xs-12 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <div class="etapes">
              Résumé du panier
              <i class="fa fa-angle-down arrow" aria-hidden="true"></i>
            </div>
          </h4>
        </div>
      <div id="panier" class="">
        <div class="panel-body">
          <div class="col-md-6">
            <img src="{{ asset('img/product/fabienProduits/logo-delicourt.jpg') }}" alt="" class="img-responsive">
          </div>
          <div class="col-md-6">
            <div class="bold">
              Tagliatelles courgettes
            </div>
            Quantité : 1 <br />
            <p class="product-price"> Prix : 5€50</p>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-6">
            <img src="{{ asset('img/product/fabienProduits/logo-delicourt.jpg') }}" alt="" class="img-responsive">
          </div>
          <div class="col-md-6">
            <div class="bold">
              Tagliatelles courgettes
            </div>
            Quantité : 1 <br />
            <p class="product-price"> Prix : 5€50</p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <div class="etapes total">
            Total : 11€
          </div>
        </h4>
      </div>
    </div>
  </div>