<div class="col-md-4 col-xs-12 gestioncompte" id="historycommande">
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#  " href="#panier">
          <div class="panel-heading">
            <h4 class="panel-title">
              <div class="etapes">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Historique de commande
                <i class="fa fa-angle-down arrow" aria-hidden="true"></i>
              </div>
            </h4>
          </div>
        </a>
          <div id="panier" class="panel-collapse collapse in">
            <div class="panel-body">

                {% for order in listOrder %}
                {% set total = 0 %}
                      {{ dump(order)}}

                  {% for orderline in order.orderLine %}
                    {% set total = orderline.quantity * orderline.product.prix %}
                  {% endfor %} 
                <div class="bold">
                  Commande du {{ order.datePurchase|date("m/d/Y H:i") }}
                  <div class="prix-historique-commande">
                    {{ total }}
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="page-nation pagination">
              <ul class="pagination pagination-large">
                <li class="disabled"><span>&laquo;</span></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="disabled"><span>...</span></li>
                <li class="disabled"><span>&raquo;</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
