<div class="col-md-4 col-xs-12" id="historycommande">
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#  " href="#panier">
          <div class="panel-heading">
            <h4 class="panel-title">
              <div class="etapes">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Historique de commande
                <i class="fa fa-angle-down arrow" aria-hidden="true"></i>
              </div>
            </h4>
          </div>
        </a>
          <div id="panier" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="bold">
                  Commande du 20/01/2017 - 9h47
                  <div class="prix-historique-commande">
                    9€99
                  </div>
                </div>
                <a href="#">Details de la commande</a>
                <br /><br />
                <div class="bold">
                  Commande du 20/01/2017 - 9h47
                  <div class="prix-historique-commande">
                    9€99
                  </div>
                </div>
                <a href="#">Details de la commande</a>
                <br /><br />
                <div class="bold">
                  Commande du 20/01/2017 - 9h47
                  <div class="prix-historique-commande">
                    9€99
                  </div>
                </div>
                <a href="#">Details de la commande</a>
                <br /><br />
                <div class="bold">
                  Commande du 20/01/2017 - 9h47
                  <div class="prix-historique-commande">
                    9€99
                  </div>
                </div>
                <a href="#">Details de la commande</a>
                <br /><br />
                <div class="bold">
                  Commande du 20/01/2017 - 9h47
                  <div class="prix-historique-commande">
                    9€99
                  </div>
                </div>
                <a href="#">Details de la commande</a>
                <br /><br />
                <div class="bold">
                  Commande du 20/01/2017 - 9h47
                  <div class="prix-historique-commande">
                    9€99
                  </div>
                </div>
                <a href="#">Details de la commande</a>
            </div>
            <div class="page-nation pagination">
              <ul class="pagination pagination-large">
                <li class="disabled"><span>&laquo;</span></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="disabled"><span>...</span></li>
                <li class="disabled"><span>&raquo;</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>