<div class="row actualite">

{% for image in posts.images %}
<div class="img-entete">

</div>
<!-- <img src="{{ asset(image.path) }}" alt="" class="ImgLeft img-responsive img-full"> -->
{% endfor %}
<h1>{{ posts.title }}</h1>
        <p class="DateArticle uppercase">Publié le {{ posts.datePublish|date("d/m/Y") }}</p>
        <p>
        	{{ posts.content }}
        </p>
</div>
