@charset "UTF-8";
/* COOULEURS, BACKGROUND, PARAMETRES GENERAUX */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:700");
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 700;
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  font-weight: bold;
  transition: 0.125s ease-in-out all;
}

.btn-green {
  background: #02b253;
  color: #f2f2f2;
}

.form-group .btn-green {
  width: 25%;
}

.btn-black {
  background: #2b2b2b;
  color: #f2f2f2;
}

.btn-blackborder {
  border: #2b2b2b 1px solid;
}

.color-yellow {
  color: #ffbe3b !important;
}

.color-green {
  color: #02b253 !important;
}

.color-white {
  color: #f2f2f2 !important;
}

.color-black {
  color: #2b2b2b !important;
}

.color-red {
  color: #db524b !important;
}

.background-black {
  background-color: #2b2b2b;
}

.background-green {
  background-color: #02b253;
}

.background-yellow {
  background-color: #ffbe3b;
}

.background-red {
  background-color: #db524b;
}

.uppercase {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

.display-desktop {
  display: none;
}

@media screen and (max-width: 768px) {
  .display-desktop {
    display: block;
  }
}

.display-mobile {
  display: none;
}

@media screen and (min-width: 768px) {
  .display-mobile {
    display: block;
  }
}

label {
  font-weight: 600;
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}

/* HEADER */
header {
}

@media screen and (min-width: 1024px) {
  header #account {
    display: none !important;
  }
}

header #account .deco {
  color: #f2f2f2 !important;
}

header #account ul {
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (max-width: 1024px) {
  header #header, header #account {
    background-color: #ffbe3b;
  }
}

header .nodisplay {
  display: none;
}

header .logo {
  position: relative;
  margin: 0.5vw;
  padding: 1vw;
  top: 1.1vw;
  border-radius: 50%;
  background: white;
  width: 10%;
}

header .logo img {
  margin: 0 auto;
  z-index: 4;
}

@media screen and (max-width: 1024px) {
  header .logo {
    display: none;
  }
}

header .btn {
  font-size: 0.7vw;
}

header .btn:hover, header .btn:focus {
  color: #f2f2f2 !important;
}

header .btn:active {
  box-shadow: none;
}

header .btn-blackborder:hover {
  color: #2b2b2b;
}

header .navbar-collapse {
  padding: 0;
}

header .navbar-default {
  border: none;
}

@media screen and (max-width: 1024px) {
  header .navbar-default {
    background-color: #02b253;
  }
}

header .navbar-default .navbar-toggle {
  float: left;
  margin: 10px 25px;
  padding: 15px 10px;
}

@media screen and (max-width: 1024px) {
  header .navbar-default .navbar-toggle {
    display: inline-block;
  }
}

header .navbar-default .navbar-toggle:focus, header .navbar-default .navbar-toggle:hover {
  background-color: #02b253;
}

header .navbar-default .navbar-header .icon-bar {
  background-color: #f2f2f2;
}

header .navbar-default .navbar-header .btn-white {
  display: none;
}

@media screen and (max-width: 1024px) {
  header .navbar-default .navbar-header .btn-white {
    font-size: 12px;
    color: #f2f2f2;
    display: inline-block;
    float: right;
    margin: 10px 15px 0 0;
  }
  header .navbar-default .navbar-header .btn-white:last-child {
    right: 80px;
  }
}

header .navbar-default .navbar-header .navbar-brand {
  display: none;
  float: left;
  font-family: 'Comfortaa', cursive;
  text-transform: lowercase;
  color: #f2f2f2;
  font-size: 2em;
  line-height: 30px;
}

@media screen and (max-width: 360px) {
  header .navbar-default .navbar-header .navbar-brand {
    font-size: 6.5vw;
  }
}

@media screen and (max-width: 300px) {
  header .navbar-default .navbar-header .navbar-brand {
    font-size: 5.25vw;
  }
}

header .navbar-default .navbar-header .navbar-brand img {
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 1024px) {
  header .navbar-default .navbar-header .navbar-brand {
    display: inline-block;
    padding: 15px 0;
  }
}

header .navmenu {
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  height: 100px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  header .navmenu {
    flex-direction: column;
    height: auto;
  }
}

header .navmenu li {
  font-size: 0.9vw;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0.8%;
  width: 7%;
}

@media screen and (max-width: 1330px) {
  header .navmenu li {
    font-size: 1.1vw;
  }
}

@media screen and (max-width: 1024px) {
  header .navmenu li {
    width: 100%;
    font-size: 16px;
  }
}

header .navmenu li a {
  background-color: inherit;
  color: #2b2b2b !important;
  padding: 5px 0;
}

header .navmenu li a:hover {
  background-color: inherit;
  color: #f2f2f2 !important;
  border-bottom: #02b253 solid 2px;
}

@media screen and (max-width: 1024px) {
  header .navmenu li a:hover {
    color: #2b2b2b;
    border: none;
    color: inherit;
  }
}

header .navmenu li:hover {
  color: #f2f2f2 !important;
}

header .navmenu #dropdown {
  width: 100%;
}

header .navmenu #dropdown a:hover {
  color: #2b2b2b;
}

header .navmenu .dropdown-menu {
  top: 80%;
  width: 100%;
  min-width: 0;
  background: #02b253;
  padding-bottom: 0;
  border: none;
  border-top: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 0;
  margin: 2px;
  padding: 0px;
}

header .navmenu .dropdown-menu li {
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

header .navmenu .dropdown-menu li:hover {
  background: #009444;
}

header .navmenu .dropdown-menu li a {
  color: #f2f2f2 !important;
}

header .navmenu .dropdown-menu li a:hover {
  border: none;
}

header .navmenu .dropdown-menu li:last-child {
  background: #db524b;
}

header .navmenu .dropdown-menu li:last-child:hover {
  background: #bb4741;
}

header .navmenu .btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 11%;
  height: 50px;
  font-weight: bold;
  margin: 10px 0.8%;
}

@media screen and (max-width: 1024px) {
  header .navmenu .btn {
    display: none;
  }
}

header .navmenu .btn .fa {
  padding-right: 10px;
  border-right: 1px solid #f2f2f2;
}

@media screen and (max-width: 1330px) {
  header .navmenu .btn .fa {
    display: none;
  }
}

header .navmenu .btn .txtborder {
  padding-right: 10px;
  border-right: 1px solid #2b2b2b;
  margin-bottom: 0;
}

@media screen and (max-width: 1330px) {
  header .navmenu .btn .txtborder {
    display: none;
  }
}

header .navmenu .btn .containertext {
  padding-left: 10px;
  font-size: 0.8vw;
}

@media screen and (max-width: 1330px) {
  header .navmenu .btn .containertext {
    padding: 0;
    font-size: 1.1vw;
  }
}

@media screen and (min-width: 1330px) {
  header .navmenu .btn .abreviation {
    display: none;
  }
}

@media screen and (max-width: 1330px) {
  header .navmenu .btn .compteur {
    display: none;
  }
}

header .navmenu .active {
  border-bottom: #02b253 solid 2px;
  color: #f2f2f2;
}

@media screen and (max-width: 1024px) {
  header .navmenu .active {
    border: none;
  }
}

@media screen and (max-width: 1024px) {
  header .navmenu .active a {
    color: #f2f2f2 !important;
  }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: inherit;
  background: inherit;
}

/* import footer */
.footer {
  background: #2b2b2b;
  color: #f2f2f2;
  padding: 20px 0;
  text-align: center;
}

.footer .footer-content {
  display: inline-block;
  position: relative;
  float: none;
}

.footer .footer-content .footer-section {
  text-align: left;
}

.footer .footer-content .footer-section img {
  max-width: 100px;
}

.footer .footer-content .footer-section ul {
  padding-left: 0;
}

.footer .footer-content .footer-section ul li.social-item {
  display: inline-block;
  font-size: 2em;
  padding: 0 5px;
}

.footer a {
  color: #f2f2f2;
}

@media screen and (max-width: 1024px) {
  .mobile-display-none {
    display: none;
  }
  .mobile-display-inline {
    display: inline-block !important;
    padding: 5px;
    border-right: 1px solid;
  }
  .mobile-display-inline:last-child {
    border: none;
  }
  .footer-section {
    text-align: center !important;
  }
}

/* import produitsliste */
.produits {
  background-color: #f2f2f2;
  margin-bottom: 30px;
  padding: 0 0 10px 0;
  height: auto;
  position: relative;
  transition: 0.25s all linear;
}

.produits:hover {
  -moz-box-shadow: 0px 0px 5px 0px #2b2b2b;
  -webkit-box-shadow: 0px 0px 5px 0px #2b2b2b;
  -o-box-shadow: 0px 0px 5px 0px #2b2b2b;
  box-shadow: 0px 0px 5px 0px #2b2b2b;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#2b2b2b, Direction=NaN, Strength=5);
}

.produits .img-zoom {
  overflow: hidden;
  position: relative;
}

.produits .img-zoom:nth-child(even) .detail {
  cursor: pointer;
  background-image: url("/img/sprites_icons.png");
  background-position-x: -565px;
  background-position-y: -286px;
}

.produits .img-zoom:nth-child(odd) .detail {
  cursor: pointer;
  background-image: url("/img/sprites_icons.png");
  background-position-x: -665px;
  background-position-y: -288px;
}

.produits .img-zoom .detail {
  height: 50px;
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.produits .img-zoom img {
  width: 100%;
  height: auto;
  filter: grayscale(0) blur(0px);
  transition: all 0.5s ease;
}

.produits .img-zoom:hover img {
  opacity: 0.85;
  transform: scale(1.25);
}

.produits h2 {
  padding: 0 15px;
  font-weight: 600;
  text-align: center;
}

.produits h3 {
  color: #c9302c;
  font-size: 12px;
  font-weight: 600;
  margin: 0 !important;
}

.produits h3 small {
  color: #c9302c;
  font-weight: 600;
}

.produits .btn {
  margin-bottom: 15px;
}

.produits .btn-perso {
  background-color: #ffbe3b;
  color: #fff;
}

.produits .btn-perso:hover {
  background-color: #dba331;
  color: #fff;
}

/* import search */
.search {
  background-image: url("/img/search/meal3.jpg"), url("/img/search/meal4.jpg");
  background-position: -100%,200%;
  background-size: 75% 100%,75% 100%;
  background-repeat: no-repeat;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 10px 0;
}

@media (max-width: 1024px) {
  .search {
    background-image: none;
    min-height: auto;
  }
}

.search .relais {
  background-color: white;
  padding: 20px 50px;
  width: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
  .search .relais {
    width: 100%;
  }
}

.search .relais .input-group {
  margin-top: 50px;
}

/* import home-concept */
.concept .col-md-12 {
  height: 300px;
}

@media screen and (max-width: 992px) {
  .concept .col-md-12 br {
    display: none;
  }
}

.concept .col-md-4:first-child .col-md-12 {
  background-image: url("http://www.bateaux-privatises-paris.com/wp-content/uploads/2013/06/gastronomie-02.jpg");
}

.concept .col-md-4:nth-child(2) .col-md-12 {
  background-image: url("http://www.hautes-alpes.net/fileadmin/user_upload/experiences-gastronomie-header.jpg");
}

.concept .col-md-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.concept .col-md-4 .col-md-12 {
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  padding: 0;
}

.concept .col-md-4 .col-md-12 h3 {
  height: 75px;
  margin: 0;
  padding: 10px 0;
  background-color: rgba(43, 43, 43, 0.9);
}

@media screen and (max-width: 992px) {
  .concept .col-md-4 .col-md-12 h3 {
    height: 50px;
  }
}

.concept .col-md-4 .col-md-12 .description {
  color: #2b2b2b;
  height: 300px;
  position: absolute;
  top: 300px;
  left: 0;
  width: 100%;
  padding: 15px;
  background: rgba(255, 190, 59, 0.9);
  transition: 0.1s linear all;
}

@media screen and (max-width: 992px) {
  .concept .col-md-4 .col-md-12 .description {
    top: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .concept .col-md-4 .col-md-12 .description h4 {
    font-size: 24px;
  }
}

@media screen and (max-width: 615px) {
  .concept .col-md-4 .col-md-12 .description h4 br {
    display: block;
  }
}

@media screen and (max-width: 420px) {
  .concept .col-md-4 .col-md-12 .description h4 br {
    display: none;
  }
}

.concept .col-md-4 .col-md-12 .description p {
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .concept .col-md-4 .col-md-12 .description p {
    font-size: 16px;
  }
}

.concept .col-md-4 .col-md-12:hover .description {
  top: 75px;
}

@media screen and (max-width: 992px) {
  .concept .col-md-4 .col-md-12:hover .description {
    top: 50px;
  }
}

.concept .col-md-4:last-child .col-md-12 {
  background-image: url("http://www.martinique.org/sites/martinique/files/styles/teaser/public/f._smith_gastronomie_le_patio_070213_82.jpg?itok=rGbQThcw");
}

@media screen and (max-width: 435px) {
  .concept .col-md-4:last-child .col-md-12 h3 {
    height: 75px !important;
  }
}

@media screen and (max-width: 435px) {
  .concept .col-md-4:last-child .plusbas {
    top: 75px !important;
  }
}

.concept h1,
.concept h2,
.concept h3,
.concept h4,
.concept h5,
.concept h6 {
  font-weight: 700;
}

/* import search */
#filter label {
  font-size: 10px;
}

#filter #actionfilter {
  margin: 10px 0px;
}

#filter #rangeinput {
  margin: 10px;
}

#filter h3 {
  margin: 10px 0px;
}

#filter .btn-danger {
  width: 100%;
}

/* import panier */
.panier .panel-heading.global h3 {
  font-size: 2rem;
}

.panier .panel-body .command-list-item {
  margin: 5px 0;
  display: inline-block;
}

.panier .panel-body .command-list-item .command-list-item-desc .panel-default {
  border: none;
}

.panier .panel-body .command-list-item .command-list-item-desc .panel-default .panel-heading {
  background: none;
  padding: 10px 0;
}

.panier .panel-body .command-list-item .command-list-item-desc .panel-default .panel-body {
  padding: 0;
}

.panier .panel-body .command-list-item .command-list-item-desc .panel {
  box-shadow: none;
}

.panier .panel-body .command-list-item .command-list-item-price .product-price {
  color: #02b253;
  font-weight: 700;
  font-size: 1.2em;
}

.panier .panel-body .command-list-item .command-list-item-price .delete-product i {
  cursor: pointer;
  color: #e60000;
  font-size: 1.2em;
}

.panier .panel-body .command-list-item .command-list-item-price .item-price-col {
  text-align: center;
  padding: 0;
}

.panier .panel-body .command-list-item .command-list-item-price,
.panier .panel-body .command-list-item .command-list-item-desc {
  padding: 10px;
}

.panier .panel-body .command-list-item .fidelite-pts {
  font-weight: 700;
}

.panier .panel-footer {
  text-align: right;
}

.panier .panel-footer .command {
  display: inline-block;
}

.panier .panel-footer .command.total-price {
  padding: 0 15px;
  font-size: 2rem;
}

/* import tunnelCommande */
#tunnel .panel-default a {
  text-decoration: none;
  color: black;
}

#tunnel .panel-default .panel-heading {
  background-color: #F2F2F2;
}

#tunnel .panel-default .panel-heading .etapes {
  font-weight: bold;
}

#tunnel .panel-default .panel-heading .etapes .fa.fa-angle-down.arrow {
  float: right;
}

#tunnel .panel-default .bold {
  font-weight: bold;
  padding-bottom: 15px;
}

#tunnel .panel-default .commanderetrait {
  padding-top: 25px;
}

#tunnel #paiement .nav-tabs img {
  height: 24px;
  margin: auto;
  max-width: 100%;
}

/* import inscription */
.legende-input {
  display: block;
  text-align: right;
  color: grey;
  font-size: 12px;
}

.connexion, .inscription {
  padding: 3vw;
}

@media screen and (max-width: 991px) {
  .connexion, .inscription {
    padding: 0 15px;
  }
}

.inscription .homer {
  margin-bottom: 15px;
}

.inscription .checkbox input[type="checkbox"] {
  margin-left: 0;
}

.nopad .col-xs-12 {
  padding: 0;
}

.nopad .col-xs-12 .btn-green {
  width: 40%;
  margin-bottom: 20px;
}

/* import produitdetail */
#produitdetail .btn {
  display: block;
}

#produitdetail ul {
  list-style-type: initial;
}

#produitdetail hr.hr3-product {
  border: solid 1px #ffbe3b;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 0;
}

#produitdetail hr.hr4-product {
  border: solid 1px #02b253;
  width: 60px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 0;
}

#produitdetail .description {
  padding-bottom: 10px;
}

#produitdetail .description:first-child {
  padding-bottom: 15px;
}

#produitdetail figure.product-carousel,
#produitdetail .price-block {
  margin: 15px 0;
}

#produitdetail .price-block .product-price {
  color: #ff3333;
  font-weight: 700;
  font-size: 2.2em;
}

#produitdetail .display-price-desktop {
  display: block;
}

#produitdetail .display-price-mobile {
  display: block;
}

@media screen and (max-width: 767px) {
  #produitdetail .display-price-desktop {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  #produitdetail .display-price-mobile {
    display: none;
  }
}

#produitdetail .cents {
  font-size: .7em;
}

/* import liste actuality */
.articles .column {
  float: left;
}

.articles .size-1of1 {
  width: 100%;
}

.articles .size-1of2 {
  width: 47.5%;
  margin-right: 2.5%;
}

.articles .size-1of2:nth-child(2n) {
  margin-right: 0;
}

.articles .size-1of3 {
  width: 31.125%;
  margin-right: 2.5%;
}

.articles .size-1of3:nth-child(3n) {
  margin-right: 0;
}

.articles article {
  background: #ffbe3b;
  line-height: 1.5em;
  color: #2b2b2b;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 0 5px 0 #656565;
}

.articles article a {
  color: #2b2b2b;
}

.articles article a:hover {
  text-decoration: none;
}

.articles article a h3 {
  margin: 0;
  padding: 10px;
}

.articles article .DateArticle {
  padding: 10px 10px 0;
  text-align: right;
  text-decoration: underline;
}

.articles article .ContenuArticle {
  padding: 10px;
}

@media screen and (max-width: 768px) {
  #grid[data-columns]::before {
    content: '1 .column.size-1of1';
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  #grid[data-columns]::before {
    content: '2 .column.size-1of2';
  }
}

@media screen and (min-width: 1024px) {
  #grid[data-columns]::before {
    content: '3 .column.size-1of3';
  }
}

/* import compte */
#gestioncompte .panel-default > a {
  text-decoration: none;
  color: black;
}

#gestioncompte .panel-default > a .panel-heading {
  background-color: #F2F2F2;
}

#gestioncompte .panel-default > a .panel-heading .etapes {
  font-weight: bold;
}

#gestioncompte #cartecb .clear-both {
  clear: both;
}

#gestioncompte #cartecb .row > .paypal-bouton .btn {
  margin-left: 30px;
}

#gestioncompte #info-perso .panel-body .bouton-modifié-moncompte {
  float: right;
}

#gestioncompte #info-perso .margin-information {
  margin-bottom: 20px;
}

#gestioncompte #panier .panel-body .prix-historique-commande {
  float: right;
  color: green;
}

#gestioncompte #panier .page-nation {
  width: 100%;
  text-align: center;
  margin: auto;
}

#gestioncompte #cartecb .bouton-paiement {
  height: 40px;
  width: 50%;
  margin: auto;
}

#gestioncompte #cartecb .div-bouton-validation {
  margin-top: 27px;
}

#gestioncompte #cartecb .moiscb {
  padding-bottom: 15px;
  padding-top: 10px;
}

#gestioncompte #cartecb .margin-cb {
  padding-bottom: 15px;
}

#gestioncompte .form-control.paiement {
  margin-top: 10px;
}

#gestioncompte .bouton-paypal {
  margin: auto;
  margin-top: 15px;
}

#gestioncompte .row > .paypal-bouton .btn {
  margin-left: 30px;
}

#gestioncompte .padding-top-credit {
  padding-top: 15px;
}

#gestioncompte .fa.fa-angle-down.arrow {
  float: right;
}

#gestioncompte .bold {
  font-weight: bold;
}

#gestioncompte .tab {
  text-align: center;
}

/* import map */
#map {
  height: 300px;
}
