<div class="">
<img src="" />
</div>
<div class="right">
<span class="title">
Cassoulet à l'agneau, carotte et chapelure 
</span>
<div class="container-description">
<div class="alergene">

</div>
<div class="description">Une version revisitée du cassoulet, mais tout aussi savoureuse que l'original
</div>
</div>
