{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}

<link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}"/>

<link rel="stylesheet" type="text/css" href="{{ asset('css/carrousel.css') }}"/>


<link rel="stylesheet" type="text/css" href="{{ asset('css/recherchecp.css') }}"/>

{% endblock stylesheets %}



 {% block body %}
<div class="container-fluid">
<div class="container">
<div class="row">
{% block header %}
{% include ':template:header.html.twig' %}
{% endblock header %}
</div>
</div>
</div>
{% endblock body %}