<div class="container">
<div class="row">
<ul class="menu">
<a href="{{ path ('homepage') }}"><li>Accueil</li></a>
<a href="{{ path ('commandepage') }}"><li>Nos Produits</li></a>
<a href="{{ path ('contactpage') }}"><li>Nos actualités</li></a>
<a href="{{ path ('contactpage') }}"><li>Contact</li></a>
</ul>
</div>
</div>
