{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}"/>

{% endblock stylesheets %}


{% block javascripts %}

    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('js/monjs.js') }}"></script>

{% endblock javascripts %}

{% block body %}
    
    <div class="container-fluid">
        {% block header %}
        {% include 'CoreCoreBundle:Default:header.html.twig' %}
        {% endblock header %}
    </div>
    <div class="row">
      	{% block footer %}
        {% include 'CoreCoreBundle:Default:footer.html.twig' %}
        {% endblock footer %}
     </div>
{% endblock body %}
