#filter{
	label{
		font-size:10px
	}
	#actionfilter{
		margin-top:15px;
	}
	#rangeinput{margin:10px;}
	h3{
		margin : 10px 0px;
	}
	.btn-danger{
		width:100%;
	}
	.panel-group{
		margin-bottom: 0;
	}
}
