@media screen and (max-width: 1024px){
    #header{
        .logo{
            display: none;
        }
        .navmenu{
            flex-direction: column;
            height:auto;
            padding:30px 30px;
        }
    }
}