.banniere {
    background-image: url("../img/search/banniere.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 400px;
    padding-top: 150px;
    margin-top:-20px;
    @media screen and (max-width: 1024px) {
      background-image:url("../img/search/banniere_opacity.jpg");
      padding-top:75px;
      margin:auto 0;
			margin-top: -20px;
    }
    @media screen and (max-width: 270px) {
      padding-top:0px;
    }

    .localisation {
        width: 60%;
        max-width: 700px;
        background: $white;
        text-align: center;
        min-height: 250px;
        padding: 20px;
        margin: auto;
        @media screen and (max-width: 1024px) {
          width : 100%;
          max-width : 100%;
          background: none;
        }
    }

    h2 {
        text-transform: uppercase;
    }

    hr {
        border: 1px solid $black;
        width: 50%;
        margin : 40px auto;
    }

    .relais {
        width: 70%;
        margin : auto;
        @media (max-width: $medium) {
            width: 100%;
        }
    }
    .input-group{
      margin:10px;
      @media screen and (max-width: 360px) {
        display:block;
      }
    }
    .input-group-addon{
      background-color : $green;
      color : $white;
      border-radius : 5px;
      border : none;
      padding : 0 25px;
      @media screen and (max-width: 360px) {
        padding:10px;
      }
    }
    .form-control{
      @media screen and (max-width: 360px) {
        margin-bottom: 10px;
      }
    }
}
