<ul class="menu">
<a href="{{ path ('homepage') }}"><li>Accueil</li></a>
<li>Menu</li>
<li>Deserts</li>
<a href="{{ path ('contactpage') }}"><li>Boisson</li></a>
<a href="{{ path ('contactpage') }}"><li>Contact</li></a>
</ul>