<div class="store-select__form"> <!-- home-search-form -->
	<p class="store-select__title">Où souhaitez-vous être livré(e) ?</p> <!-- home-search-title -->

	<p class="store-select__info"></p>

	<div class="row">
		<div class="col-sm-9">
			<input type="text" data-url="https://www.classcroute.com/ajax/get/stores" id="store-select__autocomplete" class="store-select__value store-select__input" placeholder="Entrez votre ville ou votre code postal" autocomplete="off"><ul class="typeahead dropdown-menu" style="max-height:220px;overflow:auto;"></ul>
			<div id="cpInvalid" class="hidden"> La vente en ligne n’est pas encore disponible sur votre commune.</div>
		</div>
		<div class="col-sm-3">
			<button type="submit" class="btn btn--full store-select__submit" disabled="" data-delivery="0">Valider</button>
		</div>

	</div>
</div>