{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('css/sidebar.css') }}"/>
{% endblock stylesheets %}
{% block body %}



{% block navabar %}
{% include ':templateAdmin:sidebar.html.twig' %}
{% endblock %}
<div class="col-sm-9">
<div class="row">
{% block search %}
{% include ':templateAdmin:search.html.twig' %}
{% endblock %}
</div>
<div class="col-xs-12">
                   <!--  <h1>Welcome To Dashboard Panel :)</h1>
                    <p>
                        this  is test text.this  is test text.this  is test text.this  is test text.
                        this  is test text.this  is test text.this  is test text.this  is test text.
                        this  is test text.this  is test text.this  is test text.this  is test text.
                        this  is test text.this  is test text.this  is test text.this  is test text.
                        this  is test text.this  is test text.
                    </p> -->
{{ render(controller('VendorConnectUsersBundle:UsersEmployee:addUsersEmployee')) }}

</div>
</div>
{% endblock body %}
