<h1>Conditions generales de ventes en ligne</h1>
		<h2>Meal & Box</h2>


		<p>La commande sur le site www.mealandbox.fr implique l'adhésion sans réserve du client aux présentes conditions générales. Meal & Box se réserve le droit de faire évoluer les conditions générales de vente ci-dessous. Le client pourra se renseigner sur les changements éventuels de ses conditions par la seule consultation en ligne.</p>

		<h3>Clause n°1 - Les produits livrés</h3>

		<p>La disponibilité des produits peut varier au quotidien en fonction des points de vente. Tous les produits Meal & Box, plateaux repas compris, sont livrés complets, prêts à déguster. Sauf indication contraire, nos plateaux repas sont élaborés pour être dégustés froids. <br />

		A réception par le client, les produits doivent être conservés dans un endroit frais et sec. Meal & Box décline toute responsabilité dans le cas où les produits livrés ne seraient pas conservés selon les conditions indiquées et consommés dans un délai raisonnable.</p>

		<h3>Clause n°2 - Objectifs de livraison</h3>

		<p>Pour notre gamme sandwich, notre objectif de livraison est de 45 min, il est susceptible de varier en fonction des aléas journaliers (météo, circulation, grève ...). </p>

		<p>Les plateaux repas sont livrés :

			<ul class="nav nav-tabs">
					<li>De 10h à 12h pour toutes commandes passées la veille avant 17h</li>
					<li>De 12h à 14h pour les commandes passées la veille après 17h et le jour même avant 10h</li>
					<li>Jusqu'à 17h00 pour vos dîners pour les commandes passées la veille et le jour même avant 12h</li>
					<li>sur demande et selon les sites, il peut être possible d'être livré le week-end et les jours fériés (commande minimum de 20 Plateaux-Repas ou Coffrets).</li>
			</ul>
			</p>

		<p>
		La gamme « festives » doit être commandée au plus tard la veille (jours ouvrés) avant 17h pour une livraison avant 12h. Les commandes passées après 17h la veille seront livrés après 12h. <br />

		La prestation « petits-déjeuners » doit être commandée au plus tard la veille (jours ouvrés) avant 17h pour une livraison le lendemain matin. <br />

		Le délai de livraison vous est précisé à titre d'information et est repris sur la confirmation de commande mais n'a pas de valeur contractuelle. Si ce délai ne vous convient pas, vous avez la possibilité d'annuler votre commande par téléphone en appelant le numéro précisé sur votre mail de confirmation de commande.
		</p>

		<h3>Clause n° 2bis - Minimum de commande et frais de livraison</h3>

		<p>Veuillez consulter votre restaurant pour connaître le minimum de commande. Des frais de livraison peuvent être appliqués en fonction du jour de livraison (week-end, soirs et jours fériés) et de la zone à livrer.</p>

		<h3>Clause n°3 - Zone de livraison</h3>

		<p>
			Les zones de livraison sont limitées selon l'implantation des établissements Meal & Box.<br />

			La liste de ces établissements est disponible sur notre site, dans la rubrique"nos restaurants".
		</p>


		<h3>Clause n°4 - Modification des produits</h3>

		<p>Les produits présentés sont susceptibles de modification sans préavis.</p>

		<h3>Clause n°5 - Gestion des prix</h3>

		<p>
		La plupart de nos restaurants sont gérés par des franchisés, ils sont "commerçants indépendants" et donc libres de pratiquer leurs prix et leur offre commerciale au titre de la libre concurrence. <br />

		Les avantages délivrés aux « clients en compte » n'apparaissant pas sur le module de commande sont tout de même effectifs sur la facture finale. <br />

		Les prix peuvent être révisés à tout moment sans préavis. Les prix facturés sont ceux en vigueur au jour de la commande. Ils sont assujettis au taux de TVA applicable légalement en vigueur. Au cas où ce taux viendrait à être modifié, nos prix seraient révisés à due concurrence. Toutes taxes ou charges nouvelles qui pourraient être créées, ou toute modification des charges ou taxes actuelles entraîneraient automatiquement le réajustement des prix.
	 </p>

		<h3>Clause n°6 - Coordonnées de livraison</h3>

		<p>
		Il appartient au client de vérifier les coordonnées de livraison et de facturation. Meal & Box ne pourra être tenu pour responsable d'éventuel retard en cas d'information erronée ou incomplète.

		Toute réclamation et réserve devront être portées à notre connaissance sous 24 heures et signalées obligatoirement sur le bon de livraison. Aucun produit alimentaire ne sera repris ni échangé.
		</p>

		<h3>Clause n°7 - Confirmation de commande</h3>

		<p>
			Toute commande sera confirmée par envoi d'un mail à l'adresse de l'identifiant sauf en cas d'indisponibilité d'un produit. <br />

			Dans ce cas, un produit équivalent vous sera proposé suite à un contact de notre part. Si vous n'acceptez pas ce produit équivalent, votre commande sera directement annulée.
		</p>

		<h3>Clause n°8 - Règlement</h3>

		<p>
		Pour la prestation gamme sandwich, le règlement se fait à réception des produits. <br />

		Pour la prestation « Petits Déjeuners », « A partager» et « Plateaux repas », le règlement se fait par virement ou chèque bancaire à réception de la facture. Pour les clients en compte (ouverture de compte sur demande) les paiements peuvent être différés après accord des deux parties. Les factures sont payables à réception de la marchandise, jusqu'à obtention des informations comptables nécessaires au changement de mode de règlement.
	 </p>
		<h3>Clause n°9 - Réclamations :</h3>

		<p>Toute réclamations et réserves devront être protées à notre connaissance sous huit jours et signalées obligatoirement sur le bon de livraison. Aucun produit ne sera ni repris ni échangé.</p>

		<h3>Clause n°10 - Droit de rétractation</h3>

		<p>
			Conformément à l'article L. 121-21-8,4° du Code de la Consommation, le droit de rétractation ne peut être exercé sur la fourniture de nos produits qui, du fait de leur nature, ne peuvent être réexpédiés ou sont susceptibles de se détériorer ou de se périmer rapidement.
		</p>
			<h3>Informations légales</h3>

     <p>
			Conformément à la loi "Informatique et Libertés", le traitement des informations nominatives relatives aux clients a fait l'objet d'une déclaration auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL). Nous vous rappelons que vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent (art. 34 de la loi "Informatique et Libertés" du 6 janvier 1978). Pour l'exercer, adressez-vous par écrit à votre restaurant. <br />

			Les photographies et illustrations présentées en ligne et sur nos brochures ne sont pas contractuelles. <br />

			Certains ingrédients ont subi un procédé de conservation par congélation. Pour cette raison nous vous recommandons de consommer rapidement nos produits et de ne jamais les recongeler. Nous ne pouvons vous garantir une absence totale d'allergènes dans nos produits. <br />

			L'abus d'alcool est dangereux pour la santé, sachez consommer avec modération.
		</p>
