<div class="col-md-6">
	<h2>Mot de passe oublié</h2>
	<p>Veuillez taper votre nouveau mot de passe.</p>
	<form>
		<div class="form-group">
			<label for="password-reset">Mot de passe *</label>
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-lock" aria-hidden="true"></i>
				</div>
				<input type="password" class="form-control" id="password-reset" placeholder="Mot de passe">
			</div>
			<p class="legende-input">8 caractères minimum dont au moins 1 chiffre et 1 lettre</p>
		</div>
		<div class="form-group">
			<label for="password-reset-confirmation">Confirmation du mot de passe *</label>
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-lock" aria-hidden="true"></i>
				</div>
				<input type="password" class="form-control" id="password-reset-confirmation" placeholder="Mot de passe">
			</div>
		</div>
		<button type="submit" class="btn btn-green">Sauvegarder</button>
	</form>
</div>